<div id="footer">
  <div class="footer-innter wrap clearfix">
    <a class="ask-me" href="mailto:khoa.pham@me.com">Need it more customized? Ask me!</a>
    <ul class="social-contacts">
      <li><a class="github" href="https://github.com/pmkhoa/jquery-menuOnScroll">Github</a></li>
      <li><a class="twitter" href="https://twitter.com/pmkhoa">Twitter</a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/in/pmkhoa">Linkedin</a></li>
    </ul>
  </div>
</div>
